doctype html
html
  head
    title Random Episode Generator
    script(src="static/script.js")
    link(rel='shortcut icon', href='static/238565.png')
    link(rel="stylesheet",href="static/main.css")
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap")
    link(href="https://fonts.googleapis.com/css?family=Yantramanav:300&display=swap" rel="stylesheet")
  body
    div#id
      h1 Random Episode Generator
      h3 Enter a title and receive a random episode
      input#showNameInput(onkeydown="search(this)")
      br
      img#epImage(src="",alt="",height="350",width="622.2222222222")
      h1#episodenumber
      h3#episodetitle
      p#episodedesc
      p#madeby Made by #[a(href="http://animanny.com") Ani Srikanth] with 📺
        

    