h1, h2, h3,h4, p { 
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#id{

    position: relative;
    margin-top: 50vh;
    transform: translateY(-50%);
    text-align: center;
}

#episodedesc{
    margin-left: 25%;
    word-wrap: break-word;
    width: 50%;
}

button{
    margin-top:10px;
}

#madeby:onhover{
    text-decoration: none;
}

input {
    color:white;
    border-style:solid;
    border-color: white;
    height: 50px;
    width:350px;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    background: #181818;
}

input:focus {
    outline:none;
}

body{
    background-color:#181818;
}

img{
    margin-top: 25px;
}

#madeby{
    color: white !important;
    font-family: 'Yantramanav', sans-serif;
    margin-top:50px;
}

a {
    color:white;
    text-decoration: underline;
    transition: text-decoration 1s;
    -webkit-transition: text-decorations 2s; 
}

a:hover{
    text-decoration: none;
}